<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}Título Padrão{% endblock %}</title>
	<link rel="stylesheet" href="/static/css/menu.css"><!-- Inclua aqui outros recursos como CSS -->
</head>
<body>
	<div id="wrapper">
		<div id="sidebar-wrapper">
			<ul class="sidebar-nav">
				<li class="sidebar-brand mb-4">
					<a href="#"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="Menu"></a>
				</li>
				<li>
					<a href="/">Pendências</a>
				</li>
				<li>
					<a href="/historico">Histórico</a>
				</li>
				<li>
					<a href="/ajustes">Ajustes</a>
				</li>
				<li>
					<a href="/controles">Controles</a>
				</li>
				<li>
					<a href="/dados">Dados</a>
				</li>
			</ul>
		</div>
	</div>
	<div id="content">
		{% block content %}{% endblock %}
	</div>
</body>
</html>