.dash-filter input::placeholder {
    color: #888; /* Cor do texto do placeholder */
    opacity: 1; /* Firefox */
}

.dash-filter input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #888;
}

.dash-filter input::-ms-input-placeholder { /* Microsoft Edge */
    color: #888;
}